
			* {
				margin: 0%;
				padding: 0%;
			}
			
			html,
			body {
				width: 100%;
				height: 100%;
				overflow: hidden;
				margin: 0%;
				padding: 0%;
			}

/* 第一页 */
			.all1 p{
				margin: 0%;
			}
			.all1 {
				background: url(../img/bg.jpg) no-repeat;
				background-size: 100% 100%;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-flow: column;
			}
			#test p{
				font-size: 0.45rem;
				color: aliceblue;
				font-weight: bold;
			}
			#join{
				color: aliceblue;
				font-size: 0.7rem;
				font-style:italic;
				position: absolute;
				bottom:0.7rem;
				left: 0.6rem;
			}
			
			#bg_logo {
				width: 1.08rem;
				position: absolute;
				bottom: 1.5rem;
				left: 0.8rem;
				border-radius: 50%;
				z-index: 100;
			}
			#bg_colthes{
				width: 100%;
				position: absolute;
				top: 4rem;
			}
			#women{
				width: 100%;
				position: absolute;
				top: 0.75rem;
				left: 0.4rem;
			}
			#women img{
				width: 30%;
				float:left;
			}
			#slogan{
				position: absolute;
				top: 8.4rem;
				width: 67%;
				left: 0.5rem;
				font-size: 0.38rem;
				z-index: 99;
				color: aliceblue;
				font-family: cursive;
				font-weight: bold;
				height: 2rem;
				background-color: black;
				border-radius: 0.4rem;
				padding: 0.6rem 0.9rem;
			}
			#qrcode{
				width: 2.2rem;
				position: absolute;
				bottom: 0.3rem;
    			right: 0.7rem;
			}
			#bg{
				width: 1.5rem;
				transform: rotate(360deg);
				animation: rotation 3s linear infinite;
				border-radius: 50%;
				position: absolute;
				left: 3.2rem;
				top: 6.4rem;
				z-index: 98;
			}
			@keyframes rotation{
				from{
					transform: rotate(0deg);
				}
				to{
					transform: rotate(360deg);
				}
			}
			#test {
				color: rgba(0, 0, 0, 0.6);
				font-size: 0.3rem;
				text-align: center;
				position: relative;
				top: -38%;
				font-style: italic;
			}


			

